{% extends "base.html" %}


{% block title %}Ecoton Cargo - Add Product{% endblock %}

{% block body %}

<div class="album py-5 bg-body-tertiary">
  <h1 class="text-center">Archived Products</h1>
  <br>
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for key, value in combined_d.items %}
      <div class="col">
        <div class="card shadow-sm">
      
          <div class="card-body">
            <h2 class="card-text" style="color: #DC143C"><em>*Archived*</em><br> {{key}}</h2>
            <ul class="list-unstyled mb-0">

                {% for prod_key, prod_value in value.0.items%}
                <li>
                  <span class="d-inline-block bg-success rounded-circle p-1"></span>
                  {{prod_key}}: {{prod_value}}
                </li>
                {% endfor %}


            </ul>
            <br>
            <h5>Locations:</h5>
            
            <ul class="list-unstyled mb-0">
            {% for locs_key, locs_value in value.1.items%}
                <li>
                  <span class="d-inline-block bg-success rounded-circle p-1"></span>
                  {{locs_key}}: {{locs_value}}
                </li>
                {% endfor %}
            </ul>  
            <br>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Archive</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
