{% extends "base.html" %}


{% block title %}Ecoton Cargo - Product{% endblock %}

{% block body %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for key, value in prod_d.items %}
        <div class="col">
          <div class="card shadow-sm">
        
            <div class="card-body">
              <h2 class="card-text">{{key}}</h2>
              <ul class="list-unstyled mb-0">
  
                  {% for prod_key, prod_value in value.items%}
                  <li>
                    <span class="d-inline-block bg-success rounded-circle p-1"></span>
                    {{prod_key}}: {{prod_value}}
                  </li>
                  {% endfor %}
  
  
              </ul>
              <br>
              <h5>Locations:</h5>
              
              <ul class="list-unstyled mb-0">
                {% for locs_key, locs_value in locs_d.items%}
                    {% for lol in locs_value %}
                    <li>
                        <span class="d-inline-block bg-success rounded-circle p-1"></span>
                        {{lol}}
                    </li>
                    {% endfor %}
                {% endfor %}
              </ul>  
              <br>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <form method="post" action="{% url 'productcat' key %}">
                        {% csrf_token %}
                        <input type="hidden" name="key" value="{{ key }}">
                        <button class="btn btn-sm btn-outline-secondary" type="submit">Archive</button>
                    </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}