<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item">
            <a href={% url 'home' %} class="nav-link {% if current_page == 'home' %}active{% endif %}" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
            <a href={% url 'reg-product' %} class="nav-link {% if current_page == 'reg-product' %}active{% endif %}">Add Product</a>
        </li>
        <li class="nav-item">
            <a href={% url 'product-list' %} class="nav-link {% if current_page == 'product-list' %}active{% endif %}">View Products</a>
        </li>
      </ul>
    </header>
</div>